body{
     display:flex;
     justify-content:center;
     align-items: center;
     height: 100vh;
     background: lightslategray;
  }
.container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      gap: 50px;
      padding: 0 20px;
      box-sizing: border-box;
    
  }
  
svg {
     stroke: black;
     stroke-width: 1px;
     height: 200px;
     width: 200px;
  }
  
  
  
  
.flame:hover {
     fill: orange;
     transform: scale(1.1);
     transition: all 0.3s ease-in-out;
     cursor: pointer;
  }
.wind:hover {
     stroke: lightblue;
     transform: translateX(-5px);
     transition: all 0.3s ease-in-out;
     cursor: pointer;
  }
.lightning:hover {
     stroke: yellow;
     filter: drop-shadow(0px 0px 10px yellow);
     transition: all 0.3s ease-in-out;
     cursor: pointer;
  }
  
